extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="nosotros", class="img-fluid")
            .col-md-7
                h1= pagina 

                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus convallis ut dolor et volutpat. Suspendisse in gravida tortor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc sit amet ex non odio facilisis scelerisque at sed ipsum. Maecenas libero ligula, tristique at massa vitae, blandit rutrum sapien. Duis at consectetur enim, sed faucibus sem. Sed vitae ex sed metus porttitor fermentum ut eu enim.

                p Curabitur nisl sapien, viverra vitae ultrices et, tempus quis nunc. Sed venenatis libero nunc. Donec accumsan sed lacus nec suscipit. Vivamus non faucibus ipsum. Suspendisse eu dapibus tortor. 

                p In tellus purus, faucibus eu nisl nec, ullamcorper tempus leo. Cras id pretium nunc. Quisque ultricies odio et condimentum lacinia. Sed mauris elit, rhoncus non semper a, rhoncus non nisi. Etiam elementum nunc vitae velit tempor dapibus.

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4       
                    img(src="img/icono_seguridad.svg", alt="icono_seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus convallis ut dolor et volutpat. Phasellus convallis ut dolor et volutpat.
                    
                .col-md-4       
                    img(src="img/icono_destinos.svg", alt="icono_seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus convallis ut dolor et volutpat. Phasellus convallis ut dolor et volutpat.
                    
                .col-md-4       
                    img(src="img/icono_precios.svg", alt="icono_seguridad", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus convallis ut dolor et volutpat. Phasellus convallis ut dolor et volutpat.